
mixin ToggleFull(item)
    div.toggleFull
        p.toggleFull__inc.toggleFull__but
        p.toggleFull_vw #{item.toggleText}
        p.toggleFull__dec.toggleFull__but

mixin Toggle(item)
    - var addClass = item.toggle ? 'toggle_active': ''
    div(class='toggle '+addClass)
        div

mixin PayBlock(item)
    div.ex-tp_block-pay
        p.ex-tp_block-shPay #{item.sh}
        p.ex-tp_block-shtext !{item.payInfo}
        p.button.button_bold #{item.button}


mixin configPage(ex)
    div.ex-tp.container 
        h1 #{ex.title}
        div.ex-tp__configs
            each column in ex.columns 
                div.ex-tp_block-wrapper
                    each block in column
                        div.ex-tp_block
                            each item in block
                                case item.type
                                    when 'H'
                                        p.ex-tp_block-sh #{item.text}
                                    when 'TF'  
                                        div.ex-tp_block-el.ex-tp_block-el_tf
                                            p #{item.text}
                                            +ToggleFull(item)
                                    when 'T'
                                        div.ex-tp_block-el
                                            p #{item.text}
                                            +Toggle(item)
                                    when 'P'
                                        div.ex-tp_block-el
                                            p #{item.text}
                                            p #{item.value}     
                                    when 'PR'
                                        div.ex-tp_block-el.ex-tp_block-el_price
                                            p #{item.text}
                                    when 'PT'
                                        div.ex-tp_block-el 
                                            p #{item.text}  
                                    when 'PAY'
                                        +PayBlock(item)              

                                        